/* add fonts */
@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

/* animations */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes transition {

    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cheangeImgLeft {

    0%,
    100% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-530px);
    }
}

@keyframes cheangeImgRight {

    0%,
    100% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(-530px);
    }

}

/* general style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    color: white;
    height: 100vh;
    overflow: hidden;
    background-image: radial-gradient(circle,
            rgb(50, 78, 110) 0%,
            #0b1023ff 100%);
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1600px;
    margin: auto;
    padding: 10px 50px;
}

/*********************** start header style ************************/
header {
    position: relative;
}

header .top-header {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-header h1 {
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}

header #menu-box {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.274);
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
}

header #menu-box #menu {
    position: absolute;
    top: -430px;
    width: 100%;
    height: 430px;
    background-color: aliceblue;
    transition: top .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header #menu-box #menu .top-header span {
    color: #0E1328;
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
    cursor: default;
}

header #menu-box #menu .menuItems {
    margin-top: 60px;
    color: #152358;
    display: flex;
    gap: 100px;
    margin-left: 20px;
}

header #menu-box #menu .menuItems .menuItem {
    min-width: 130px;
}

header #menu-box #menu .menuItems .menuItem h4 {
    border-left: 4px solid #152358;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
}

header #menu-box #menu .menuItems .menuItem ul li {
    padding: 3px 0;
}

header #menu-box #menu .menuItems .menuItem ul li a {
    color: #5e5e69;
    font-size: 14px;
}

/* end header style */


/***************** start main style ******************/
main .mainBox {
    height: 87vh;
    display: flex;
    gap: 20px;
}

main .mainBox section {
    flex-grow: 1;
}

/* -- 1 */
.mainBox #about-expert {
    width: 400px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: default;
}

.mainBox #about-expert #expert-name {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.mainBox #about-expert #expert-skill {
    font-size: 2rem;
    margin-bottom: 35px;
}

.mainBox #about-expert #expert-location {
    font-size: 1rem;
}


/* -- 2 */
.mainBox .gallery-expert {
    display: flex;
    align-items: center;
}

.gallery-expert .gallery-box {
    width: 378px;
    height: 520px;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.gallery-expert .gallery-box #model-left,
.gallery-expert .gallery-box #model-right {
    width: 50%;
    height: inherit;
    transition: transform 0.5s ease, background-image .3s ease-in-out .35s;
}

.gallery-expert .gallery-box #model-left {
    background-image: url(Images/model-left.png);
    transform: translateY(-50px);
}

.gallery-expert .gallery-box #model-right {
    background-image: url(Images/model-right.png);
    transform: translateY(50px);
}

/* hover (gallery-box) */
.gallery-expert .gallery-box:hover #model-left,
.gallery-expert .gallery-box:hover #model-right {
    transform: translateY(0px);
}

/* -- 3 */
.mainBox .switcher {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.mainBox .switcher .switcher-list {
    font-weight: 600;
    font-size: 1.3rem;
    list-style: none;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.switcher .switcher-list .switcher-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(155, 155, 175);
    transition: all 0.2s ease-in-out;
}

.switcher .switcher-list .switcher-item::before {
    content: "•";
    font-size: 4rem;
    line-height: 50px;
    color: rgb(155, 155, 175);
    margin-left: 20px;
    transition: transform 0.2s ease;
}

.switcher .switcher-list .switcher-item:hover::before {
    animation: pulse 1s infinite;
}

.switcher .switcher-list .switcher-item.active {
    color: white;
}

.switcher .switcher-list .switcher-item.active::before {
    animation: pulse 1s infinite;
    color: white;
}
/* end main style */