/* add fonts */
@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

/* general style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    color: white;
    height: 100vh;
    overflow: hidden;
    background-image: radial-gradient(circle,
            rgb(50, 78, 110) 0%,
            #0b1023ff 100%);
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1600px;
    margin: auto;
    padding: 10px 50px;
}

/*********************** start header style ************************/
header {
    position: relative;
}

header .top-header {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-header h1 {
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}

header #menu-box {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.274);
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
}

header #menu-box #menu {
    position: absolute;
    top: -430px;
    width: 100%;
    height: 430px;
    background-color: aliceblue;
    transition: top .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

header #menu-box #menu .top-header span {
    color: #0E1328;
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
    cursor: default;
}

header #menu-box #menu .menuItems {
    margin-top: 60px;
    color: #152358;
    display: flex;
    gap: 100px;
    margin-left: 20px;
}

header #menu-box #menu .menuItems .menuItem {
    min-width: 130px;
}

header #menu-box #menu .menuItems .menuItem h4 {
    border-left: 4px solid #152358;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
}

header #menu-box #menu .menuItems .menuItem ul li {
    padding: 3px 0;
}

header #menu-box #menu .menuItems .menuItem ul li a {
    color: #5e5e69;
    font-size: 14px;
}

/* end header style */

/* start main style */
main>div.container {
    height: 88vh;
}

/* -- 1 */
main .about-expert {
    font-weight: 400;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

main section.about-expert .expert-name {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

main section.about-expert .expert-skill {
    font-size: 2rem;
}

main section.about-expert .expert-location {
    font-size: 1rem;
}

/* -- 2 */
main div.gallery-expert {
    width: 378px;
    height: 520px;
    margin: auto;
    display: flex;
    overflow: hidden;
}

main div.gallery-expert .model-left,
main div.gallery-expert .model-right {
    width: 50%;
    height: inherit;
    transition: 0.5s ease;
}

main div.gallery-expert .model-left {
    transform: translateY(-50px);
}

main div.gallery-expert .model-right {
    transform: translateY(50px);
}

/* hover (div.gallery-expert) */
main div.gallery-expert:hover .model-left,
main div.gallery-expert:hover .model-right {
    transform: translateY(0px);
}

/* -- 3 */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

main .switcher-item {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

main .switcher-item ul.switcher-list {
    font-weight: 600;
    font-size: 1.3rem;
    list-style: none;
    padding: 0;
    width: auto;
    direction: rtl;
}

main .switcher-item ul.switcher-list li {
    display: flex;
    align-items: center;
}

main .switcher-item ul.switcher-list li::before {
    content: "•";
    font-size: 4rem;
    color: rgb(155, 155, 175);
    margin-left: 20px;
    transition: transform 0.2s ease;
}

main .switcher-item ul.switcher-list li:hover::before {
    animation: pulse 1s infinite;
}

main .switcher-item ul.switcher-list li.active::before {
    animation: pulse 1s infinite;
    color: white;
}

/* end main style */